* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, "Pingfang SC", "Microsoft Yahei", sans-serif;
}

:root {
    --primary-color: #ff434f;
    --secondary-color: #e3e3e3;
    --text-color-lightest: #e7e9ec;
    --text-color-darker: #2e2e2e;
    --text-color-dark: #696969;
    --text-color-gray: #4b4b4b;
    --text-color-dark-gray: #727272;
    --text-color-light-gray: #c6c6c6;
    --backdrop-color: rgba(42, 42, 42, 0.69)
}

img {
    width: 100%;
}

header {
    width: 100vw;
    height: 80px;
    display: grid;
    padding: 0 40px;
    grid-template-columns: 1fr 2fr;
    position: relative;
    align-items: center;
    z-index: 200;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color-lightest);
}

header nav {
    justify-self: end;
}

header nav i {
    color: var(--text-color-lightest);
}

header nav a {
    color: var(--text-color-lightest);
    text-decoration: none;
    margin: 0 20px;
}

header .bugger {
    display: none;
}

.sticky {
    position: fixed;
    background-color: white;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.2);
    animation: down 0.5s ease-in-out forwards;
}

@keyframes down {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0px);
    }
}

.sticky .logo,
.sticky nav a,
.sticky nav i {
    color: var(--text-color-darker);
}

.glide {
    position: relative;
    top: -80px;
    z-index: 50;
}

.glide__slide img,
.glide__slide video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.slide_caption {
    position: absolute;
    color: var(--text-color-lightest);
    text-align: center;
    z-index: 70;
    max-width: 60vw;
}

.slide_caption.left {
    max-width: 80hw;
    text-align: left;
}

.glide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide_caption h1 {
    font-weight: 600;
    font-size: 54px;
}

.slide_caption h3 {
    font-size: 24px;
    margin: 20px 0;
}

.backtop {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--backdrop-color);
    z-index: 60;
    opacity: 0.5;
}

.explore {
    padding: 14px 32px;
    font-size: 18px;
    background-color: var(--primary-color);
    color: var(--text-color-lightest);
    border: 0;
    outline: none;
    cursor: pointer;
}

.slide_caption>* {
    opacity: 0;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section {
    display: grid;
    justify-items: center;
    max-width: 1180px;
    padding: 0 30px;
}

.title {
    font-size: 34px;
    color: var(--text-color-darker);
    text-align: center;
}

.title::after {
    content: "";
    display: block;
    height: 4px;
    width: 80%;
    background-color: red;
    transform: translateX(10%);
    margin-top: 10px;
}

.intro {
    font-size: 20px;
    color: var(--text-color-gray);
    margin: 28px 0 64px 0;
}

section {
    display: grid;
}

.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 126px 126px;
    column-gap: 5vw;
}

.feature {
    display: grid;
    grid-template-areas: "icon title" "icon content";
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr 3fr;
}

.feature i {
    grid-area: icon;
    font-size: 34px;
    color: var(--primary-color);
}

.title1 {
    grid-area: title;
    font-size: 18px;
    color: var(--text-color-darker);
}

.content1 {
    grid-area: content;
    margin-top: 3px;
    color: var(--text-color-gray);
}

.sectionOne {
    max-width: unset;
    width: 100%;
    padding: 0;
    padding-top: 30px;
    position: relative;
}

.sectionOne::before {
    content: "";
    display: block;
    background-color: #f9fbfb;
    width: 100vw;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.filter-btn {
    margin-top: 44px;
    margin-bottom: 38px;
}

.btn {
    border: 0;
    color: var(--text-color-gray);
    background-color: var(--secondary-color);
    margin: 0 7px;
    padding: 3px 7px;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s;
    outline: none;
}

.btn:hover,
.btn.active {
    background-color: var(--primary-color);
    color: white;
}

.img {
    width: 100vw;
}

.item {
    width: 25vw;
    height: 17vw;
    overflow: hidden;
}

.img1 {
    width: 25vw;
    height: 17vw;
}

.service-section {
    padding-top: 131px;
}

.service-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 34px;
    grid-column-gap: 38px;
}

.service-item {
    display: grid;
    grid-template-areas: "icon title" "icon content";
    grid-template-columns: 70px 1fr;
    grid-template-rows: 1fr 3fr;
    padding: 24px;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.06);
}

.service-item i.fas {
    grid-area: icon;
    font-size: 42px;
    color: var(--primary-color);
    padding-top: 6px;
}

.service-item h2 {
    grid-area: title;
    font-size: 24px;
    color: var(--text-color-darker);
}

.service-item p {
    grid-area: content;
    font-size: 16px;
    line-height: 30px;
    color: var(--text-color-gray);
    margin-top: 8px;
}

.team-section {
    margin-top: 48px;
    padding-top: 62px;
    padding-bottom: 52px;
}

.team-members {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    margin-top: 86px;
}

.team-member {
    background-color: white;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-bottom: 28px;
    transition: 0.4s;
    display: grid;
    justify-items: center;
}

.member-image {
    overflow: hidden;
}

.member-image img {
    width: 100%;
    height: 264px;
    object-fit: cover;
    object-position: top center;
}

.name {
    font-size: 18px;
    color: var(--text-color-darker);
    margin-top: 18px;
    font-weight: 500;
}

.position {
    margin-top: 12px;
    margin-bottom: 18px;
    color: var(--text-color-dark-gray);
}

.link {
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
}

.link li {
    list-style: none;
}

.link li a {
    text-decoration: none;
    color: var(--text-color-dark);
    font-size: 20px;
}

.team-member:hover {
    transform: translateY(-20px) scale(1.05);
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.1);
}

.data-section {
    max-width: unset;
    width: 100vw;
    height: 255px;
    background-size: cover;
    background-position: center;
    background-image: url('./images/adult-business-computer-contemporary-380769.jpg');
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 220px));
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 20;
}

.data-section::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: var(--backdrop-color);
}

.data-piece {
    width: 250px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-self: center;
    color: white;
    position: relative;
    z-index: 40;
}

.data-piece i.fas {
    font-size: 44px;
}

.data-piece .num {
    margin-top: 7px;
    font-size: 41px;
    font-weight: 600;
}

.data-piece .desc {
    font-size: 18px;
    font-weight: 500;
}

.company {
    margin-top: 80px;
}

.acts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
}

.act {
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
    padding: 24px;
    transition: 0.4s;
}

.image {
    height: 255px;
    overflow: hidden;
    margin: -24px;
    margin-bottom: 0;
}

.image img {
    min-height: 300px;
    object-fit: cover;
}

.meta {
    color: var(--text-color-gray);
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 12px;
    display: flex;
}

.meta>p:last-child {
    margin-left: 36px;
}

.art-title {
    font-size: 18px;
    color: var(--text-color-dark);
    margin-bottom: 16px;
}

article {
    color: var(--text-color-gray);
    letter-spacing: 0.54px;
    line-height: 24px;
}

.read {
    border: 0;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    padding: 6px 14px;
    margin-top: 24px;
}

.act:hover {
    transform: translateY(-20px) scale(1.05);
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.1);
}

footer {
    margin-top: 124px;
    background-color: #181818;
    display: grid;
    justify-items: center;
    padding-top: 72px;
    padding-bottom: 24px;
}

.footer {
    width: 100%;
    max-width: 1180px;
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    padding: 1 80px;
    position: relative;
}

.menu-title {
    font-size: 16px;
    color: white;
    font-weight: 500;
    margin-bottom: 20px;
}

.menu1 {
    color: var(--text-color-lightest);
    justify-self: start;
}

.bot {
    padding-bottom: 16px;
}

.menu2 li {
    list-style: none;
    padding-bottom: 8px;
}

.menu2 li a {
    text-decoration: none;
    font-weight: 300;
    color: var(--text-color-lightest);
}

.icp {
    margin-top: 24px;
    margin-bottom: 16px;
}

.icp,
.right {
    color: white;
    grid-column: 1/-1;
    justify-self: center;
}

.scrolltotop {
    display: none;
    position: relative;
    z-index: 300;
}

.scrolltotop a {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    position: fixed;
    bottom: 60px;
    right: 30px;
    background-color: var(--primary-color);
}